<header class="navbar-div-header">
    <nav class="navbar-div">
        <div class="navbar-div-container">

            <a href="/index.html" class="navbar-div-logo">
                <img src="/assets/Aurevia-logo.png" alt="Aurevia Logo">
            </a>

            <button class="navbar-div-toggle" aria-label="Open menu">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="navbar-div-menu">
                <div class="navbar-div-mobile-brand">
                    <h2>Aurevia</h2>
                    <p>Luxury Gifting</p>
                </div>
                <ul class="navbar-div-list">
                    <li>
                        <a href="/pages/collections.html" class="navbar-div-link">
                            <i data-lucide="gift"></i>
                            Collection
                        </a>
                    </li>

                    <li>
                        <a href="/pages/corporate.html" class="navbar-div-link">
                            <i data-lucide="briefcase-business"></i>
                            Corporate
                        </a>
                    </li>

                    <li>
                        <a href="/pages/about_us.html" class="navbar-div-link">
                            <i data-lucide="sparkles"></i>
                            About Us
                        </a>
                    </li>
                </ul>

                <a href="/pages/contact.html" class="navbar-div-button">Inquire Now</a>

                <div class="navbar-div-mobile-socials">
                    <a href="#">
                        <img src="/assets/icons/instagram.svg" alt="Instagram">
                    </a>

                    <a href="#">
                        <img src="/assets/icons/linkedin.svg" alt="LinkedIn">
                    </a>

                    <a href="#">
                        <img src="/assets/icons/facebook.svg" alt="Facebook">
                    </a>
                </div>
            </div>

        </div>
    </nav>
</header>